@model Sanmol_Management.Models.Company

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CEmpCnt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEmpCnt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CWorkDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CWorkDay)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Cid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
